{% extends "base.html" %}

{% block content %}
  <h1>Platform Lists</h1>
<!-- Ваш код HTML для отображения таблицы -->
<table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Key</th>
        <th>Date segment</th>
        <th>DS number</th>
      </tr>
    </thead>
    <tbody>
      {% for flask_profile in flask_profiles %}
        <tr>
          <td>{{ flask_profile.id }}</td>
          <td>{{ flask_profile.name }}</td>
          <td>{{ flask_profile.key }}</td>
          <td>{{ flask_profile.date_segment }}</td>
          <td>{{ flask_profile.ds_number }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <style>
    /* Ваш код CSS для оформления таблицы */
.table {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  text-align: center;
  border-collapse: collapse;
  margin: 20px auto;
  width: 80%;
}

.table th {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table thead tr {
  position: sticky;
  top: 0;
}

  </style>  
{% endblock %}